<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Einstellungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-select
        label="Gemini-Modell"
        labelPlacement="stacked"
        [(ngModel)]="geminiModell"
        (ionChange)="onGeminiModellGeaendert()"
      >
        <ion-select-option *ngFor="let modell of GEMINI_MODELLE" [value]="modell">
          {{ modell }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="einstellung-block-abstand-oben">
      <div style="width: 100%; padding-bottom: 12px;">
        <ion-label>
          Anzahl Titelvorschläge pro API-Request: {{ anzahlTitelvorschlaege }}
        </ion-label>
        <ion-range
          min="1"
          max="20"
          step="1"
          snaps="true"
          pin="true"
          [(ngModel)]="anzahlTitelvorschlaege"
          (ionChange)="onAnzahlTitelvorschlaegeGeaendert()"
          color="primary"
        ></ion-range>
      </div>
    </ion-item>

    <ion-item class="einstellung-block-abstand-oben">
      <div style="width: 100%; padding-bottom: 12px;">
        <ion-label>Temperatur: {{ temperatur.toFixed(1) }}</ion-label>
        <ion-range
          min="0.0"
          max="2.0"
          step="0.1"
          snaps="true"
          [(ngModel)]="temperatur"
          (ionChange)="onTemperaturGeaendert()"
          color="primary"
        ></ion-range>
        <ion-note>Je höher, desto kreativer die Titel</ion-note>
      </div>
    </ion-item>

    <ion-item>
      <ion-input
        label="API-Key für Gemini"
        labelPlacement="stacked"
        type="password"
        [(ngModel)]="apiKey"
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button expand="block" (click)="onApiKeyPruefenButton()">
        API-Key prüfen und speichern
      </ion-button>
    </ion-item>

    <ion-item *ngIf="meldungApiKey" lines="none">
      <ion-note [color]="meldungIstFehler ? 'danger' : 'success'">{{ meldungApiKey }}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
